
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** END OF RESET***/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*** Global Styles***/

body {
  color: #2E2E2E;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /**16px**/
  line-height: 1.5em;
  letter-spacing: 1px;
}

a, li {
  list-style-type: none;
  color: #141B41;
	font-weight: normal;
	text-decoration: none;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  margin-top: 5px;
	margin-bottom: 10px;
  line-height: 66px;
  letter-spacing: 1.5px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	padding-bottom:10px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
  font-size: 28px;
	font-weight: bold;
  margin-bottom: 15px;
	color: #2E2E2E;
	line-height: 32px;
	margin-top: 20px;
	padding-right: 10px;
	color: black;
}

h3 {
	text-transform:uppercase;
	font-size: 14px;
	color: #3090EC;
	letter-spacing: 1.5px;
	margin-bottom: 10px;
}


h4 {
	font-size: 40px;
  font-weight: bold;
  margin-top: 5px;
	margin-bottom: 5px;
  line-height: 55px;
  letter-spacing: 1.5px;
	color: black;
	font-family: 'Montserrat', sans-serif;

}

/*** Containers***/

.wrapper {
	margin:auto;
	width: 100%;
}


.container {
  max-width: 1024px;
  margin: 0 auto;
}

.case-studies {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
	width: 100%;
}



/*** Navigation ***/

nav {
	padding-top: 40px;
	padding-bottom: 50px;
	display: flex;
	justify-content: flex-start;
	font-size: 14px;
	width: 100%;
}


nav li {
	padding-top: 20px;
}


nav li a {
  list-style-type: none;
  color: #2E2E2E;
  display: block;
	font-weight:normal;
	line-height: 1em;
	text-decoration: none;

}


/*** Link Styles ***/

.highlight {
	box-shadow: inset 0 -0.6em #CDEEF2;

}

/*** Header ***/

header {
	margin-bottom: 100px;
}


span {
	color: #FF8A9D;
}


header p {
	font-size: 25px;
  line-height: 36px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
}

/*header p span a{
	color: #000;
  text-decoration: none;
  box-shadow: inset 0 -0.6em #FFE1E6;
}*/

header a {
	display: inline;
}

.subs {
	display: flex;
	margin-bottom: 30px;
}

hr {
	width: 30px;
	border-top: 2px black solid;
	margin-right: 10px;
}


/*** Type of Project Section Headers ***/


.content-sections{
	padding-bottom: 20px;
}

.content-sections h5 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}

/*** Leadership Section ***/

.leadership {
	display: flex;
	padding-bottom: 60px;
	justify-content: space-between;
}

.leadership div {
	border-left: 4px solid #FFE1E6;
	padding-left: 15px;
	width: 50%;
}







#read-more-three {
	padding-top: 50px;
}





.anchors {
	width: 90%;
  display: flex;
  justify-content: flex-end;
	}

.anchors a {
	width: 20%;
}

#name {
	width:100%;
}




a:hover {
color: #FF8A9D;

}










.text {
	font-family:'Roboto', sans-serif;
	padding-left: 40px;
	/*padding: 40px;*/
}


.text a, .leadership a{
	font-size: 16px;
	color: #000;
	text-decoration: none;
	box-shadow: inset 0 -0.6em #FFE1E6;
}









.individual-post {

	width: 100%;
	height: 400px;
	margin-bottom: 100px;
	display: flex;

}

.details {
	margin-bottom: 0.8em;
	padding-right: 15px;
}





/* ----------- First Breakpoint ----------- */
@media screen and (max-width:1024px) {

	nav a {
		width: 40%;
	}

	.container {
		max-width: 90%;
		margin: 0 auto;
	}

	.text {
		padding-left: 30px;
	}

}

@media screen and (max-width:920px) {

header {
	/*color: red;*/
	margin: auto;
	padding-bottom: 30px;
}

.case-studies {
margin: auto;
height: auto;
}


.individual-post {
	display: block;
	height: auto;
	width: 100%;
	padding-bottom: 20px;
}

.individual-post img {
	width: 100%;]
	height: 300px;
}

header h1 {
	font-size: 30px;
	line-height: 40px;
}

.text h2 {
	margin-bottom: 10px;
	margin-top: 15px;
  font-size: 28px;
  line-height: 32px;
}

.text h3 {
    margin-top: 25px;
    padding-right: 10px;
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 20px;
		font-family: 'Roboto', sans-serif;
}

.individual-post h2 {
			margin-bottom: 10px;
		}

footer a {
			width: 15%;
		}

.other-writing {
			width: 80%;
			margin: auto;
		}

.closing {
			width: 100%;
		}

.photo {
	width: 100%;
	display: block;
}



.case-studies a {
	width: 100%;
}

div {
		display: block;
	}



}


@media screen and (max-width:728px) {

header p {
/*color: white;*/
}

.individual-post {
	display: block;
	height: auto;
	width: 100%;
	padding-bottom: 10px;
}


.individual-post img {
	width: 100%;
	height: auto;
}

.text {
	padding-left: 20px;
	padding-right: 20px;
}

.text h3 {
	margin-top: 10px;

}

.icon-container {
	width: 100%;
}

.icon-container-1 {
	padding-left:50px;
	display: block;
}

.icon-container-2 {
	display: block;
	margin-left:40px;

}

.icon-container-3 {
	display: block;
	margin-left:50px;

}

footer a {
	width: 20%;
}

}



/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

	.wrapper {
    width: 100%;

	}

	header h1 {
		line-height: 1.5em;
		margin-bottom:24px;
		}

	h2 {
    margin-bottom: 30px;
		margin-top: 30px;
    line-height: 42px;
		max-width: 90%;
	}

	.content-sections {
		margin-top: 80px;
	}

	.leadership {
		margin-bottom: 60px;
		display: block;
		padding-bottom: 0px;
	}

	.leadership div {
		width: 100%;
		padding-bottom: 50px;
		border-left: 6px solid #FFE1E6;
	}

	.details {
		line-height: 2em;
	}

	.individual-post {
		display: block;
		height: auto;
		margin-bottom: 150px;
	}




		#name {
			width: 15%;

		}

		.anchors {
			margin-top: 20px;
			width: 100%;
		}

		.anchors a {
			padding-right: 20px;
    	font-size: 30px;
		}



		a {
			width:100%;
		}


		.individual-post img {
		width: 100%;
	}

	.text {
		padding-left: 20px;
		font-family: 'Roboto', sans-serif;
	}

	.text h3 {
	padding-bottom: 12px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	}






 /*p.details {
	 line-height: 2.5em;
	 mar*gin-bottom: 30px;
 }*/

	.text a, .leadership a {
    color: #000;
    text-decoration: none;
    box-shadow: inset 0 -1em #FFE1E6;
		font-family: 'Roboto', sans-serif;
}

}







/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {






/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}





	/*
@media screen and (max-width:728px) {

header p {
	color: white;
}

	.individual-post {
		display: block;
		height: auto;
		width: 100%;
		padding-bottom: 10px;
	}


	.individual-post img {
		width: 100%;
		height: auto;
	}

	.text {
		padding-left: 20px;
    padding-right: 20px;
	}

	.text h3 {
		margin-top: 10px;

	}

	.icon-container {
		width: 100%;
	}
 /*
	.icon-container-1 {
		padding-left:50px;
		display: block;
	}

	.icon-container-2 {
		display: block;
		margin-left:40px;

	}

	.icon-container-3 {
		display: block;
		margin-left:50px;

	}

	footer a {
		width: 20%;
	}

}*/

/*@media screen and (max-width:613px) {

/*	header p {
	color: green;
}

	.container {
		width: 100%;
	}

	.icon-container-1 {
		margin: 0px;
		padding-left:50px;
		display: block;
	}

	.icon-container-2 {
		margin: 0px;
		display: block;
		padding-left:85px;

	}

	.icon-container-3 {
		display: block;

	}

	footer a{
		width: 25%;
	}

	}



	/*@media screen and (max-width: 375px)
  {

		.individual-post {
			display: block;
			height: 450px;
		}

		.individual-post img {
    width: 100%;
		height: auto;
	}

		header p {
    font-size: 16px;
		color: red;
	}

		.text {
			padding-left: 20px;
		}

		.text h3 {
			font-size: 12px;
			margin-top: 8px;
			line-height: 20px;
			letter-spacing: 1.5px;
			padding-bottom: 6px;
		}

		.text h2 {
			font-size: 28px;
			margin-top: 5px;
		}

		.text p {
			font-size: 16px;
		}

		.other-writing h2 {
			font-size: 30px;
			padding-top: 40px;
    	padding-bottom: 15px;
		}

		.other-writing li a {
			font-size: 16px;
		}

}*/
