/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** END OF RESET***/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*** Global Styles***/

body {
  color: #2E2E2E;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px; /**16px**/
  line-height: 1.5em;
  letter-spacing: 1px;



}

a, li {
  list-style-type: none;
  /*display: block;*/
	/*line-height: 2em;*/
	font-weight: bold;
	text-decoration: none;
	color: #141B41;

}

/*img {
	width:100%;
}

p {
	font-weight: bolder;
}*/



.wrapper {
	margin:auto;
	width: 90%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

section {
	padding-left: 200px;
}

header {
	height: 100px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  margin-top: 5px;
  line-height: 75px;
  letter-spacing: 1.5px;
	color: #141B41;
	font-family: 'Montserrat';
	margin-bottom: 50px;
}

h2 {
	font-size: 18px;
	color: black;
	font-weight: 600;
	font-family: 'Roboto';
	text-transform: uppercase;
	padding-bottom: 20px;
	letter-spacing: 0.125em;

}

nav {
	padding-bottom: 50px;
	display: flex;
	justify-content: flex-start;
	font-size: 14px;
	width: 6%;
	position: fixed;
}


nav li {
	padding-bottom: 50px;
	line-height: 1em;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1.8px;
}

nav a {
	/*width: 50%;*/
}

nav li a {
  list-style-type: none;
  display: block;


}

nav li a:active {
color: gray;

}

.columns {
	display: flex;
	justify-content: space-between;
}

.subsections {
	margin-bottom: 100px;
	border-left: 4px solid #FFE1E6;
	padding-left: 15px;
}

#portafo {
	padding-bottom: 50px;
}

.port {
  color: #000;
  text-decoration: none;
  box-shadow: inset 0 -0.6em #FFE1E6;
	font-weight: normal;
}

.quotation{
  font-size: 20px;
  //margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

.quotation::before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: black;
  font-size: 3em;
	font-family: 'Georgia', serif;
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height:0;
  left: 10px;
  position: relative;
  top:30px;
  color: black;
  font-size: 3em;
	font-family: 'Georgia', serif;
}

footer{
  margin:0;
  font-size: 0.75em;
  font-style: italic;
	position:relative;
	margin-bottom: 30px;
	margin-top: 10px;
}


/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {


.container {
	width:90%;
	margin: auto;
}

nav {
	display: none;

}

section {
	padding-left: 10px;
}
